<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Add client-id and redirect-uri url for this application here -->
    <add key="public-application-id" value="ENTER_PUBLIC_APPLICATION_ID_HERE" />
    <add key="redirect-uri" value="http://localhost/app1234" />
    
    <!-- add Azure AD account name and password for account with Power BI Pro license -->
    <!-- if you leave these settings blank, user will be presented with interactive login -->
    <add key="aad-account-name" value="ENTER_USER_NAME_HERE" />
    <add key="aad-account-password" value="ENTER_USER_PASSWORD_HERE" />

    <!-- second application to add in app-only token support -->
    <add key="confidential-application-id" value="ENTER_CONFIDENTIAL_APPLICATION_ID_HERE" />
    <add key="confidential-application-secret" value="ENTER_CONFIDENTIAL_SECRET_ID_HERE" />
    <add key="tenant-name" value="ENTER_TENANT_NAME_HERE" />


  </appSettings>
</configuration>